<!-- layout: components/layouts/layout.html -->
{{ define "content" }}
  <div class="hero">
    <div class="content">
      <div class="logoWrapper">
        <img src="/static/logo.svg" alt="barry logo" class="logo" width="38" height="48" />
        <h1 class="title">{{ .Title }}</h1>
      </div>
      <p>{{ .Intro }}</p>
      <ul class="steps">
        <li>Get started by editing <code>routes/index.html.</code></li>
        <li>Save and see your changes instantly.</li>
      </ul>
      {{ template "Button" .Button }}
    </div>
  </div>
{{ end }}
